.line-container{
	width:100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
.circle{
	margin:0 auto;
	width:4em;
	height:4em;
	border:solid 4px #000;
	border-radius:4em;
	background: white;
	z-index: 10;
}
.main-line{
	width:5px;
	height: 100%;
	margin: 0 auto;
	background: black;
}
.col.card.feature{
	padding-left: 0;
	padding-right: 0;
}
.hline{
	height:4px;
	background: #000;
}
.no-margin{
	margin-bottom: 0 !important;
}
