<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="utf-8">
		<%= stylesheet_link_tag    'application', params[:controller], media: 'all' %>
        <%= javascript_include_tag 'application', params[:controller] %>
        <%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-wrapper main-color">
					<a href="/project/new" class="brand-logo"><img src="/images/logo-white.png" class="back-logo"></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/project/1">Главная</a></li>
						<li><a href="/search/?tag=startup">Поиск</a></li>
						<li class="active"><a class="dropdown-button" href="/user/">Профиль</a></li>
					</ul>
				</div>
			</nav>
		</header>

	    <%= yield %>

		<footer class="page-footer main-color">
			<div class="container main-color">
				<div class="row ">
					<div class="col l6 s12">
						<h5 class="white-text">Напишите нам</h5>
						<p class="grey-text text-lighten-4"><a href="mailto:leenteam@gmail.com">leenteam@gmail.com</a></p>
					</div>
					<div class="col l4 offset-l2 s12">
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">VK</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript">
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

function createMyPortfolioPoint() {
	document.getElementById('all-my-blocks').style.display = 'none';
	document.getElementById('my-create-block').style.display = 'block'
}

function closeMyPortfolioPoint() {
	document.getElementById('all-my-blocks').style.display = 'block';
	document.getElementById('my-create-block').style.display = 'none'
}

</script>	
			  	
	</body>
</html>